/* 
    Bernard Williams  Week 1 Basic Portfolio Assignment
    May 2017
*/

html {
    min-height: 100%;
    position: relative;
}

a {
    text-decoration: none;
}

body {
    margin: 0 0 60px;
    /* bottom = footer height */
    padding: 0;
    border: 0;
    line-height: 105%;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 15px;
    margin-top: 5px;
}

#contactLink {
    height: 50px;
    padding: 10px;
}

#navBarLink {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: small;
    color: #cccccc;
    padding: 5px;
}

#navBarLink:hover {
    color: blue;
}

.autoWidth {
    width: 100%;
}

.txtArea {
    width: 100%;
    height: 70px;
}

span.navBar {
    position: absolute;
    bottom: 10px;
    right: 20px;
    padding: 5px;
    margin-right: 0;
}

label {
    text-align: left;
    vertical-align: top;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: smaller;
}

blockquote {
    margin-left: 20px;
    font-size: small;
    font-style: italic;
    margin-bottom: 20px;
}

div.yourName {
    background-color: #4aaaa5;
    width: 250px;
    height: 50px;
    margin-left: 20px;
    color: white;
    padding: 10px 25px 15px 25px;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-top: 15px;
}

h1.yourName {
    margin-top: 23px;
    font-size: 30px;
    font-weight: bold;
    bottom: 0;
}

h1 {}

h2 {}

div.container {
    width: 960px;
    border: 1px #cccccc;
    margin-left: auto;
    margin-right: auto;
    background-color: #E1D7D7;
    background-image: url(../images/ep_naturalwhite.png);
    padding: 0px;
    position: relative;
}

div.headshotLeft {
    float: left;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
    clear: both;
}

div.portfolioItem {
    float: left;
    width: 200px;
    height: 200px;
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
}

div.itemLabel {
    width: 190px;
    height: 30px;
    background-color: #4aaaa5;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
    position: absolute;
    bottom: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

div.mainHeader {
    width: 100%;
    margin-left: 0px;
    background-color: #ffffff;
    height: 110px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

div.footer {
    width: 960px;
    border-top: 5px solid #4aaaa5;
    margin-left: 0px;
    background-color: #666666;
    height: 60px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    font-size: small;
    position: fixed;
    bottom: 0
}

div.mainBody {
    padding: 20px;
    clear: both;
    overflow: auto;
}

div.contentHeader {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: x-large;
    color: #4aaaa5;
    border-bottom: 2px solid #4aaaa5;
    font-weight: bold;
}

div.mainContent {
    background-color: #ffffff;
    color: #777777;
    width: 500px;
    padding: 20px;
    border-bottom: 2px solid #4aaaa5;
    float: left;
    overflow: hidden;
    line-height: 1.14;
}

div.sideBarHeader {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: large;
    color: #4aaaa5;
    border-bottom: 2px solid #4aaaa5;
    font-weight: bold;
}

div.sideBar {
    background-color: #ffffff;
    float: right;
    color: #777777;
    width: 270px;
    padding: 20px;
    border-bottom: 2px solid #4aaaa5;
    margin-left: 50px;
    text-align: center;
}

div.navBar {
    background-color: #ffffff;
    float: right;
    color: #777777;
    width: 270px;
    padding: 20px;
    border-bottom: 2px solid #4aaaa5;
    margin-left: 50px;
}

fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 1px;
}

button {
    padding: 15px;
    color: white;
    background-color: #4aaaa5;
    border-width: 0px;
    font-weight: bold;
}

button:hover {
    background-color: orange
}

@media screen and (max-width: 980px) {
    div.container {
        width: 768px;
    }
    div.sideBar {
        float: right;
        width: 225px;
        margin-right: 60px;
        text-align: center;
    }
    div.mainContent {
        width: 240px;
        margin-right: 0px;
        margin-left: 70px;
    }
    div.footer {
        width: 768px
    }
}

@media screen and (max-width: 768px) {
    div.container {
        width: 640px;
    }
    div.sideBar {
        float: left;
        margin-top: 20px;
        margin-left: 0;
        width: 560px;
        text-align: left;
    }
    div.mainContent {
        width: 560px;
        margin-right: 0px;
        margin-left: 0;
    }
    div.footer {
        width: 640px
    }
}

@media screen and (max-width: 640px) {
    div.container {
        width: 430px;
        margin-left: 0;
        margin-right: 0;
    }

    div.mainHeader {
        text-align: center;
        margin-top: 0px;
        height: 75px;
    }
    div.yourName {
        width: 430px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin-top: 0;
        top: 0px;
        bottom: 0px;
    }
    span.navBar {
        bottom: 0px;
        margin-left: 0;
        margin-right: 0;
        left: 20px;
        top: 50px;
    }
    #navBarLink {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    div.sideBar {
        float: left;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 370px;
        text-align: left;
    }
    div.mainBody {
        padding: 10px
    }
    div.mainContent {
        width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    div.footer {
        width: 430px
    }
    div.headshotLeft {
        float: none;
        text-align: center;
    }
    #headshot {
        height: 270px;
    }
}